/* CSS Document */
html{margin:0px; padding:0px; width:100%; height:100%;}
body{margin:0px; padding:0px; width:100%; height:100%; background:#f2f3f8;}
#header{width:99%; height:auto; float:left; padding:.5%; background:#23214b;}
#logo{width:13%; height:auto; float:left; }
#leftbar{width:13%; height:93.2%;  bottom:0px;float:left; position:absolute; top:62px; background:#34316E ;overflow:auto;}
#rightbar{width:87%; height:93.2%; float:left; overflow:auto; margin-left:13%; background:rgba(255, 255, 255, 0.1); border-radius:3px;}
h3{font-family:arial; font-size:15px; color:#F58634; font-weight:normal;  padding:10px; margin:0px;}
h2{color:#1e1e2d;font-size: 1.5rem; padding:10px;box-shadow: 0 6px 18px 0 rgba(0,0,0,.06); background:#fff; margin:0px;}
.box{width:96%; height:auto; float:left; padding:1%; margin-left:1%; margin-top:8px;box-shadow: 0 6px 18px 0 rgba(0,0,0,.06); background:#fff; border-radius: .25rem; margin-bottom:8px;}
.green{background:#4caf50 !important;moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
-webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); border-radius:5px;  padding:15px !important;}
.red{background:#ff4057!important;moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
-webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); border-radius:5px;  padding:15px !important;}
.blue{background:#34316E !important;moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
-webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12); border-radius:5px;  padding:15px !important;}
ul#menu-v, #menu-v ul
{
    width:100%; /* Main Menu width */
    border-bottom:1px solid rgba(190,190,190,0.3);
    list-style:none; margin:0; padding:0;
    z-index:9;
}     

#menu-v li
{
    margin:0;padding:0;
    position:relative;    
    background-color:#999999; /*fallback color*/
	background-color:rgba(0,0,0,0.3);
    transition:background 0.5s;
}
#menu-v li:hover
{
    background-color:rgba(0,0,0,0.9);
}

#menu-v a
{
    font:normal 14px Arial;
    border-top:1px solid rgba(190,190,190,0.3);
    display:block;
    color:rgba(255,255,255,.5);
    text-decoration:none;
    line-height:40px;
    padding-left:22px; 
    position:relative;           
}

#menu-v li:first-child a
{
    border-top:0;
}

#menu-v a.arrow::after{
    content:'';
    position:absolute;
    display:inline;
    top:50%;
    margin-top:-4px;
    right:8px;
    border:1px solid rgba(0,0,0,.12);
    transition:border-color 0.5s;  
}
                
#menu-v li a.arrow:hover::after
{
   border:1px solid rgba(0,0,0,.12);
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    min-width:180px; /* Sub level menu min width */
    position:absolute;
    display:none;
    left:100%;
    top:50%; transform:translateY(-50%);
}

#menu-v li:hover > ul
{
    display:block;
}

 input[type="text"],  input[type="button"],  input[type="submit"],  input[type="email"], input[type="tel"], input[type="url"],  textarea,  button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	
	padding:25px;
	
	width:50%;
}



#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
	color:#fff;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

 .welcome, input[type="url"], #contact textarea {
	width:97%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	border: 1px solid rgba(0,0,0,.12);
border-radius: .3rem;
    padding: 8px 10px;
color: rgba(0,0,0,.87);
font-size: 1rem;
}

input[type="text"]:hover,  input[type="button"]:hover,   input[type="submit"]:hover , input[type="email"]:hover, #contact input[type="tel"]:hover,  input[type="url"]:hover,  textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}



textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

 button[type="submit"] {
	cursor:pointer;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

input[type="submit"]{
	cursor:pointer;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

input[type="button"]{
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

 button[type="submit"]:hover ,   input[type="submit"]:hover ,{
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

 button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

 input:focus,  textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#444;
}
:-moz-placeholder {
 color:#444;
}
::-moz-placeholder {
 color:#444;
}
:-ms-input-placeholder {
 color:#444;
}



 table{width:96%; margin:1%;  font-family:Arial, Helvetica, sans-serif; border:1px solid rgba(0,0,0,.12); border-collapse:collapse; color:#333;}
 tr th{padding:7px; background:#4A469B; color:#fff; font-size:16px; font-weight:normal; text-align:left; text-transform:capitalize;}
 tr td{ padding:5px; height:30px; border-bottom:1px solid rgba(0,0,0,.12); font-size:12px; } 
 tr:nth-child(even){background-color: #efefef; color:#333;}
 /* -----add brand */
 
 
 
 body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 40px;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  width : 300px;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
 
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* -----------order------------ */
.new{
	 max-width: 300px;
}

.order_table tr th {
    background: transparent;
    color: #000;
}
.order_table tr td input{
	border: 1px solid #a2a2a2 !important;
	
}