<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="/login" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="/welcome">Add User</a>
			</li>
			
			<h3>Category</h3>
			<li>
				<a href="/category_add">Add Category</a>
			</li>
			<li>
				<a href="/category_view">View Category</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="/brand_view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="/company_add">Add Company</a>
			</li>
			<li>
				<a href="/company_view">View Company</a>
			</li>
			<h3>Product</h3>
			<li>
				<a href="/product_add">Add Company</a>
			</li>
			<li>
				<a href="/product_view">View Company</a>
			</li>
			<h3>order</h3>
			<li>
				<a href="/order_add">Add order</a>
			</li>
			<li>
				<a href="/order_view">View order</a>
			</li>
			<h3>Store</h3>
			<li>
				<a href="/store_add">Add order</a>
			</li>
			<li>
				<a href="/store_view">View order</a>
			</li>
			<h3>Attributes</h3>
			<li>
				<a href="/attributes_add">Add Attributes</a>
			</li>
			<li>
				<a href="/attributes_view">View Attributes</a>
			</li>
			<h3>Profile</h3>
			<li>
				<a href="/profile">View Profile</a>
			</li>
			<h3>Setting</h3>
			<li>
				<a href="/setting">Setting</a>
			</li>
		</ul>
	</div>
	<div id="rightbar">
		<h2>Manage Attribute</h2>
	
			<table id= "records_table" class = "table" border = "1">
			<tr>
				
				<th>Attribute Name</th>
                <th>Status</th>
                <th>Action</th>
				<th>Action</th>
			
            </tr>
			{% for r in results %}
			<tr>
			<td>{{r["AttributeName"]}}</td>
			<td>{{r["Status"]}}</td>
			<td><a href="attributes_edit/{{r.id}}">Edit</a></td>
			<td>
				<form action="{{url_for('attributes_delete',id = r.id)}}" method = "post">
				<input type ="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete" >
			</td>
			
			</tr>
			{% endfor %}	
	</table>
	</body>
</html>