<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
		
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="/login" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="http://127.0.0.1:5000/welcome">Add User</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View User</a>
			</li>
			
			<h3>Category</h3>
			<li>
				<a href="/category_add">Add Category</a>
			</li>
			<li>
				<a href="/category_view">View User</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="/brand_view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="/company_add">Add Company</a>
			</li>
			<li>
				<a href="/company_view">View Company</a>
			</li>
			<h3>Product</h3>
			<li>
				<a href="/product_add">Add Company</a>
			</li>
			<li>
				<a href="/product_view">View Company</a>
			</li>
			<h3>order</h3>
			<li>
				<a href="/order_add">Add order</a>
			</li>
			<li>
				<a href="/order_view">View order</a>
			</li>
			<h3>Profile</h3>
			<li>
				<a href="/profile">View Profile</a>
			</li>
			<h3>Setting</h3>
			<li>
				<a href="/setting">Setting</a>
			</li>
			
		</ul>
	</div>
	<div id="rightbar">
		<h2>Add Brand</h2>
		<div class="box">
			<button class="open-button" onclick="openForm()">Add Brand</button>

			<div class="form-popup" id="myForm">
			  <form action="/brand_add" class="form-container" method="POST">
				<h1>Add Category</h1>

				<label for="category_name"><b>Brand Name</b></label>
				<input type="text" placeholder="Enter Brand Name" name="brand_name" required>
				
				<select id="status" name= "status">
				  <option value="Active" >Active</option>
				  <option value="Inactive" >Inactive</option>
				</select>
				
				<button type="submit" value="submit" class="btn">Save Changes</button>
				<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
			  </form>
			</div>
			
		</div>
	
	<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
	</body>
</html>