<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="index.php" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="http://127.0.0.1:5000/welcome">Add User</a>
			</li>
			
			<li>
				<a href="http://127.0.0.1:5000/view">View User</a>
			</li>
			<h3>Category</h3>
			<li>
				<a href="http://127.0.0.1:5000/category_add">Add Category</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/category_view">View Category</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="http://127.0.0.1:5000/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/brand_view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="http://127.0.0.1:5000/company_add">Add Company</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/company_view">View Company</a>
			</li>
			<h3>Product</h3>
			<li>
				<a href="http://127.0.0.1:5000/product_add">Add Company</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/product_view">View Company</a>
			</li>
			<h3>order</h3>
			<li>
				<a href="http://127.0.0.1:5000/order_add">Add order</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/order_view">View order</a>
			</li>
		</ul>
	</div>
	<div id="rightbar">
		<h2>Category Edit</h2>
		<form method="post" action="http://127.0.0.1:5000/category_update">
    <dl>

	
		<p>
			<input name="category_name" value= "{{row[0]['CategoryName']}}" type="text"  placeholder="Category Name" class="welcome"required>
		</p>
		<p>
			<input name="status" value= "{{row[0]['Status']}}" type="text" placeholder="Status" class="welcome" required>
		</p>
		
    </dl>
    <p>
		<input name="id" value="{{ row[0]['id'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>

</form>
		
	
	</body>
</html>