<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="index.php" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="http://127.0.0.1:5000/welcome">Add User</a>
			</li>
			
			<li>
				<a href="http://127.0.0.1:5000/view">View User</a>
			</li>
			<h3>Category</h3>
			<li>
				<a href="http://127.0.0.1:5000/category_add">Add Category</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View Category</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="http://127.0.0.1:5000/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="http://127.0.0.1:5000/company_add">Add Company</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View Company</a>
			</li>
			<h3>Product</h3>
			<li>
				<a href="http://127.0.0.1:5000/product_add">Add Company</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/product_view">View Company</a>
			</li>
			<h3>order</h3>
			<li>
				<a href="http://127.0.0.1:5000/order_add">Add order</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/order_view">View order</a>
			</li>
		</ul>
	</div>
	<div id="rightbar">
		<h2>User Edit</h2>
		<form action="http://127.0.0.1:5000/update" method= "POST">
		<div class="box">
		<dl>

		<p>
			<input name="group" value= "{{row[0]['Grouping']}}" type="text"  placeholder="grouping" class ="welcome" required>
		</p>
		<p>
			<input name="username" value= "{{row[0]['Username']}}" type="text" placeholder="Username"  class ="welcome"  required>
		</p>
		<p>
			<input name="email" value= "{{row[0]['Email']}}" type="text" placeholder="Email" class ="welcome" required>
		</p>
		<p>
			<input name="password" value= "{{row[0]['Password']}}" type="password" placeholder="Password" class ="welcome" required>
		</p>
		<p>
			<input name="fname" value= "{{row[0]['Firstname']}}" type="text" placeholder="Firstname" class="welcome" required>
		</p>
		<p>
			<input name="lname" value= "{{row[0]['Lastname']}}" type="text" placeholder="Lastname" class="welcome"required>
		</p>
		<p>
			<input name="phone" value= "{{row[0]['Phone']}}" type="text" placeholder="Phone" class="welcome"required>
		</p>
		<p>
			<input name="gender" value= "{{row[0]['Gender']}}" type="text" placeholder="Gender" class="welcome" required>
		</p>
    </dl>
    <p>
		<input name="id" value="{{ row[0]['id'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
		</div>
		</form>
		
	
	</body>
</html>