<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="index.php" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="http://127.0.0.1:5000/welcome">Add User</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View User</a>
			</li>
			
			<h3>Category</h3>
			<li>
				<a href="http://127.0.0.1:5000/category_add">Add Category</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View Category</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="http://127.0.0.1:5000/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="http://127.0.0.1:5000/company_add">Add Company</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/view">View Company</a>
			</li>
			<h3>Product</h3>
			<li>
				<a href="http://127.0.0.1:5000/product_add">Add Company</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/product_view">View Company</a>
			</li>
			<h3>Order</h3>
			<li>
				<a href="http://127.0.0.1:5000/order_add">Add Order</a>
			</li>
			<li>
				<a href="http://127.0.0.1:5000/order_view">View Order</a>
			</li>
		</ul>
	</div>
	<div id="rightbar">
		<h2>Manage Order</h2>
	
			<table id= "records_table" class = "table" border = "1">
			
			<tr>
				
				<th>Customer Name</th>
                <th>Customer Address</th>
                <th>Customer Phone</th>
                <th>Product</th>
				<th>Qty</th>
				<th>Rate</th>
				<th>Amount</th>
				<th>Gross Amount</th>
				<th>SCharge</th>
				<th>Vat</th>
				<th>Discount</th>
				<th>Net Amount</th>
				<th>Operation</th>
				<th>Operation</th>

            </tr>
			{% for r in results %}
			<tr>
			<td>{{r["CustomerName"]}}</td>
			<td>{{r["CustomerAddress"]}}</td>
			<td>{{r["CustomerPhone"]}}</td>
			<td>{{r["Product"]}}</td>
			<td>{{r["Qty"]}}</td>
			<td>{{r["Rate"]}}</td>
			<td>{{r["Amount"]}}</td>
			<td>{{r["GrossAmount"]}}</td>
			<td>{{r["SCharge"]}}</td>
			<td>{{r["Vat"]}}</td>
			<td>{{r["Discount"]}}</td>
			<td>{{r["NetAmount"]}}</td>
			
			<td><a href="order_edit/{{r.id}}">Edit</a></td>
			<td>
				<form action="{{url_for('order_delete',id = r.id)}}" method = "post">
				<input type ="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete" >
			</td>
			
			</tr>
			{% endfor %}
	
	</body>
</html>