<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="/login" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="/welcome">Add User</a>
			</li>
			<li>
				<a href="/view">View User</a>
			</li>
			
			<h3>Category</h3>
			<li>
				<a href="/category_add">Add Category</a>
			</li>
			<li>
				<a href="/category_view">View Category</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="/brand_view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="/company_add">Add Company</a>
			</li>
			<li>
				<a href="/company_view">View Company</a>
			</li>
			<h3>Products</h3>
			<li>
				<a href="/product_add">Add Products</a>
			</li>
			<li>
				<a href="/product_view">View Products</a>
			</li>
			<h3>order</h3>
			<li>
				<a href="/order_add">Add order</a>
			</li>
			<li>
				<a href="/order_view">View order</a>
			</li>
			<h3>Store</h3>
			<li>
				<a href="/store_add">Add Store</a>
			</li>
			<li>
				<a href="/store_view">View Store</a>
			</li>
			
			<h3>Attributes</h3>
			<li>
				<a href="/attributes_add">Add Attributes</a>
			</li>
			<li>
				<a href="/attributes_view">View Attributes</a>
			</li>
			<h3>Profile</h3>
			<li>
				<a href="/profile">View Profile</a>
			</li>
			<h3>Setting</h3>
			<li>
				<a href="/setting">Setting</a>
			</li>
		</ul>
	</div>
	<div id="rightbar">
		<h2>Manage Order</h2>
	
			<table id= "records_table" class = "table" border = "1">
			
			<tr>
				
				<th>Customer Name</th>
                <th>Customer Address</th>
                <th>Customer Phone</th>
                <th>Product</th>
				<th>Qty</th>
				<th>Rate</th>
				<th>Amount</th>
				<th>Gross Amount</th>
				<th>SCharge</th>
				<th>Vat</th>
				<th>Discount</th>
				<th>Net Amount</th>
				<th>Operation</th>
				<th>Operation</th>

            </tr>
			{% for r in results %}
			<tr>
			<td>{{r["CustomerName"]}}</td>
			<td>{{r["CustomerAddress"]}}</td>
			<td>{{r["CustomerPhone"]}}</td>
			<td>{{r["Product"]}}</td>
			<td>{{r["Qty"]}}</td>
			<td>{{r["Rate"]}}</td>
			<td>{{r["Amount"]}}</td>
			<td>{{r["GrossAmount"]}}</td>
			<td>{{r["SCharge"]}}</td>
			<td>{{r["Vat"]}}</td>
			<td>{{r["Discount"]}}</td>
			<td>{{r["NetAmount"]}}</td>
			
			<td><a href="order_edit/{{r.id}}">Edit</a></td>
			<td>
				<form action="{{url_for('order_delete',id = r.id)}}" method = "post">
				<input type ="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete" >
				<input name="b_print" type="button" class = "printbtn" onClick="printdiv('div_print')" value=" Generate ">
			</td>
			
			</tr>
			{% endfor %}
	
	</body>
</html>