<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="/login" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="/welcome">Add User</a>
			</li>
			<li>
				<a href="/view">View User</a>
			</li>
			
			<h3>Category</h3>
			<li>
				<a href="/category_add">Add Category</a>
			</li>
			<li>
				<a href="/category_view">View User</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="/brand_add">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="/company_add">Add Company</a>
			</li>
			<li>
				<a href="/company_view">View Company</a>
			</li>
			<h3>Products</h3>
			<li>
				<a href="/product_add">Add Products</a>
			</li>
			<li>
				<a href="/product_view">View Products</a>
			</li>
			<h3>Order</h3>
			<li>
				<a href="/order_add">Add order</a>
			</li>
			<li>
				<a href="/order_view">View order</a>
			</li>
			<h3>Store</h3>
			<li>
				<a href="/store_add">Add Store</a>
			</li>
			<li>
				<a href="/store_view">View Store</a>
			</li>
			<h3>Profile</h3>
			<li>
				<a href="/profile">View Profile</a>
			</li>
			<h3>Setting</h3>
			<li>
				<a href="/setting">Setting</a>
			</li>
			
		</ul>
	</div>
	<div id="rightbar">
		<h2>Manage Order</h2>
		
		<div class="box">
			<form action="/order_add" class="form-container" method="POST" autocomplete="off">
			<label>Customer Name</label><br><br>
			<input type="text" placeholder="Enter Customer Name" class="new" name="customer_name" required><br><br>
			<label>Customer Address</label><br><br>
			<input type="text" placeholder="Enter Customer Address" class="new" name="customer_address" required><br><br>
			<label>Customer Phone</label><br><br>
			<input type="text" placeholder="Enter Customer Phone" class="new" name="customer_phone" required><br><br>
			<table class="order_table">
			<tr>
			<th>Product</th>
			<th>Qty</th>
			<th>Rate</th>
			<th>Amount</th>
			</tr>
			<tbody id="items">
			<tr>
			

			<!-- <input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg"/> -->

			<td><input type="text" name="product[]" id="product" class="product" required></td>
			<td><input type="text" name="qty[]" id = "qty"  value="0" class="qty" onblur="blurFunction($(this))"required></td>
			<td>
			 <input type="text" name="rate[]" id="rate" class="rate" disabled required>
			</td>
			<td><input type="text" name="amount[]" id="amt" class="amt" disabled required></td>
			<td><input type="button" value="add entry" id="add" class="new"><br></br></td>
			</tr>
			</tbody>
			
			</table>
			<label>Gross Amount</label><br><br>
			<input type="text" name="gross_amount" class="new" required><br><br>
			<label>S-Charge 13%</label><br><br>
			<input type="text" name="s_charge" class="new" required><br><br>
			<label>Vat 10%</label><br><br>
			<input type="text" name="vat"class="new" required><br><br>
			<label>Discount</label><br><br>
			<input type="text" name="discount" class="new"required><br><br>
			<label>Net Amount</label><br><br>
			<input type="text" name="net_amount" class="new" required><br><br>
			
			<button type="submit" value="submit" class="new" class="btn">Create Order</button>
			</form>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<script>
		$(document).ready(function(){
				$("#add").click(function(e){
				event.preventDefault()
				$("#items").append('<tr><td><input type="text" class="new product" name="product[]" required></td><td><input type="text" name="qty[]" class="new qty" value="0" onblur="blurFunction($(this))" required></td><td><input type="text" name="rate[]" class="new rate" required></td><td><input type="text" name="amount[]" class="new amt" required></td><td><input type="button" value="delete" class="new bttn"/></td></tr>')
					$(".bttn").click(function(e){
						$(this).closest("tr").remove();


					});




					$(".product").autocomplete({
						source:function(request, response) {
							$.getJSON("{{url_for('autocomplete')}}",{
								q: request.term, // in flask, "q" will be the argument to look for using request.args
							}, function(data) {
								response(data.matching_results); // matching_results from jsonify
							});
						},
						minLength: 2,
						select: function(event, ui) {
							console.log(ui.item.data); // not in your question, but might help later
							$(this).parent().parent().find('.rate').val(ui.item.data);
						}
					});
					


				});
				
				});
		</script>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script type="text/javascript">
$(function() {
    $(".product").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.data); // not in your question, but might help later
			$(this).parent().parent().find('.rate').val(ui.item.data);
        }
    });
})
</script>
<script>
function blurFunction(obj) {
var total = obj.parent().parent().find('.qty').val()*obj.parent().parent().find('.rate').val();

obj.parent().parent().find('.amt').val(total);

}
</script>


</html>