<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Flask App</title>
		<link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen"/>
	</head>
	<body>
		<div id="header">
		<div id="logo">
				<img src="{{url_for('static',filename='images/logo.png') }}" height="45"/>
				<a href="index.php" style="position:absolute; text-decoration:none; color:#fff; top:20px; right:20px;"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
	<div id="leftbar">
			<ul id="menu-v">
			<h3>User</h3>
			<li>
				<a href="/welcome">Add User</a>
			</li>
			<li>
				<a href="/view">View User</a>
			</li>
			
			<h3>Category</h3>
			<li>
				<a href="/category_add">Add Category</a>
			</li>
			<li>
				<a href="/category_view">View Category</a>
			</li>
				<h3>Brand</h3>
			<li>
				<a href="/brand_add">Add Brand</a>
			</li>
			<li>
				<a href="/brand_view">View Brand</a>
			</li>
			<h3>Company</h3>
			<li>
				<a href="/company_add">Add Company</a>
			</li>
			<li>
				<a href="/company_view">View Company</a>
			</li>
			<h3>Products</h3>
			<li>
				<a href="/product_add">Add Products</a>
			</li>
			<li>
				<a href="/product_view">View Products</a>
			</li>
			<h3>order</h3>
			<li>
				<a href="/order_add">Add order</a>
			</li>
			<li>
				<a href="/order_view">View order</a>
			</li>
			<h3>Store</h3>
			<li>
				<a href="/store_add">Add Store</a>
			</li>
			<li>
				<a href="/store_view">View Store</a>
			</li>
			
			<h3>Attributes</h3>
			<li>
				<a href="/attributes_add">Add Attributes</a>
			</li>
			<li>
				<a href="/attributes_view">View Attributes</a>
			</li>
			<h3>Profile</h3>
			<li>
				<a href="/profile">View Profile</a>
			</li>
			<h3>Setting</h3>
			<li>
				<a href="/setting">Setting</a>
			</li>
		</ul>
	</div>
	<div id="rightbar">
		<h2>User Profile</h2>
			<table id= "records_table" class = "table_profile" border = "1">

			
			{% for r in result %}	
			<tr>
				<th><b>Group</b></th>
				<td>{{r["Group"]}}</td></br>
			</tr>
			<tr>
                <th><b>Username</b></th>
				<td>{{r["Username"]}}</td>
			</tr>
			<tr>
                <th><b>Email</b></th>
				<td>{{r["Email"]}}</td>
			</tr>
			<tr>
                <th><b>Firstname</b></th>
				<td>{{r["Firstname"]}}</td>
			</tr>
			<tr>
				<th><b>Lastname</b></th>
				<td>{{r["Lastname"]}}</td>
			</tr>
			<tr>
				<th><b>Phone</b></th>
				<td>{{r["Phone"]}}</td>
			</tr>
			<tr>
				<th><b>Gender</b></th>
				<td>{{r["Gender"]}}</td>

            </tr>
	
			{% endfor %}
	
	</body>
</html>